<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles/style.css">
    <title>Todo List</title>
</head>
<body>
    <header class="nav-bar">
        <a class="route" href="/">Today</a>
        <a class="route" href="/work">Work</a>
    </header>
    <div class="dateBox">
        <p><em class="dateText"><%=day%>, <%=month%> <%=date%></em></p>
    </div>
    <%if(locals.workArray){%>
        <%if(workArray.length!=0){%>
            <%workArray.forEach(function(value){%>
                <div class="taskList">
                    <div class="addedTask">
                        <label class="taskDiv"><%=value.task%></label>
                        <input class="cb" type="checkbox" name="" id="">
                    </div>
                </div>
            <%})%>
        <%}%>
    <%}%>
    <form action="/work" class="taskForm" method="post">
        <input class="textBox" name="work" type="text" placeholder="Add a New Task For Work">
        <input class="button" type="submit" value="+">
    </form>
</body>
</html>